[submodule "cpuminer"]
	path = cpuminer
	url = ../cpuminer
	branch = add_argon2
[submodule "bitcoin"]
	path = bitcoin
	url = ../bitcoin
	branch = watcoin/argon2
[submodule "argon2"]
	path = argon2
	url = ../argon2
